stages:
  - lint
  - test
  - build
php_lint:
  stage: lint
  image: php:8.4-cli
  script:
    - echo "Running PHP lint"
    - find app routes database -name "*.php" -print0 | xargs -0 -n1 php -l
phpunit_tests:
  stage: test
  image: php:8.4-cli

  services:
    - name: mysql:8.0
      alias: mysql

  variables:
    MYSQL_DATABASE: test_db
    MYSQL_USER: laravel
    MYSQL_PASSWORD: laravel
    MYSQL_ROOT_PASSWORD: root
    DB_CONNECTION: mysql
    DB_HOST: mysql
    DB_PORT: 3306
    DB_DATABASE: test_db
    DB_USERNAME: laravel
    DB_PASSWORD: laravel

  before_script:
    - apt-get update && apt-get install -y git unzip zip
    - docker-php-ext-install pdo pdo_mysql
    - curl -sS https://getcomposer.org/installer | php
    - mv composer.phar /usr/local/bin/composer
    - composer install
    - cp .env.example .env
    - php artisan key:generate
    - php artisan migrate --force

  script:
    - php artisan test
docker_build:
  stage: build
  image: docker:latest
  services:
    - docker:dind

  variables:
    DOCKER_TLS_CERTDIR: ""

  script:
    - docker build -t $CI_PROJECT_NAME:$CI_COMMIT_SHORT_SHA .
